body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,p,blockquote,th,td {
margin:0; padding:0;}

/*---------------------------文字-------------------------------*/
.font_yellow {
	font-size: 12px;
	font-weight: normal;
	color: #F8FFDE;
	text-decoration: none;
}
.font_yellow_bold {
	font-size: 12px;
	font-weight:bold;
	color: #F8FFDE;
	text-decoration: none;
}
.font_b_bold {
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family:"宋体";
}
.font_w {
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	}
.right_font{
	width:182px;
	height:auto;
	margin:0px;
	padding:0px;
}
.left_font ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.left_font li{
	color:#663333;
	line-height:24px;
	font-size: 12px;
	font-weight:normal;
}
.left_font li a{color:#663333;}
.left_font li a:visited{color:#666666;}
.left_font li a:hover{color:#bc2931;}

.z1_font{
	width:170px;
	height:auto;
	margin:0px;
	padding:0px;
}
.z1 ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.z1_font li{
	color:#663333;
	line-height:24px;
	font-size: 12px;
	font-weight:normal;
}
.z1_font li a{color:#663333;}
.z1_font li a:visited{color:#666666;}
.z1_font li a:hover{color:#bc2931;}

.zk {
	float:left;
	margin:6px;
	padding:0px;
	width:160px;
	}
.z_font{
	width:519px;
	height:auto;
	margin:0px;
	padding-left:5px;
}
.z_font ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.z_font li{
	color:#333333;
	line-height:24px;
	font-size: 12px;
	font-weight:normal;
}
.z_font1{
	width:252px;
	height:auto;
	margin:0px;
	padding-left:5px;
}
.z_font1 ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.z_font1 li{
	color:#333333;
	line-height:24px;
	font-size: 12px;
	font-weight:normal;
}
.right_font ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.right_font li{
	color:#333333;
	line-height:24px;
	font-size: 12px;
	font-weight:normal;
}
.font_red {
	font-family:"宋体";
	font-size:14px;
	color:#CC0000;
	font-weight:bold;
	}
.red {
	font-family:"宋体";
	font-size:12px;
	color:#CC0000;
	font-weight:normal;
	}

a.A:link {color: #CC0000;}
a.A:visited {color: #0033FF;}
a.A:hover {	color: #FF0000;}

a.B:link {color: #FFF; font-size:16px; font-weight:bold;}
a.B:visited {color: #FFF; font-size:16px;}
a.B:hover {	color: #FF0000; font-size:16px;}


/*---------------------------背景-------------------------------*/
.right_01 {
	background-image:url(../../images/Index/right_bg_02.gif);
	background-repeat:no-repeat;
	width:182px;
	height:22px;
	padding-left:10px;
	padding-top:2px;
	}
.left_bg_01 {
	background-image:url(../../images/Index/left_bg_01.gif);
	background-repeat:repeat-x;
	height:33px;
	padding-left:10px;
	}
.left_bg_02 {
	background-image:url(../../images/Index/left_bg_02.gif);
	background-repeat:repeat-x;
	}
.left_bg_03 {
	background-image:url(../../images/Index/left_bg_07.gif);
	background-repeat:repeat-x;
	height:33px;
	padding-left:10px;
	}
.left_bg_04{
	background-image:url(../../images/Index/left_bg_08.gif);
	background-repeat:no-repeat;
	background-position:top;
	width:225px;
	height:64px;	
	}
.left_bg_05{
	background-image:url(../../images/Index/dh_01.gif);
	background-repeat:no-repeat;
	width:239px;
	height:92px;
	padding-left:45px;
	}
.left_bg_06{
	background-image:url(../../images/Index/left_bg_09.gif);
	background-repeat:no-repeat;
	width:69px;
	height:24px;
		}
.left_bg_07{
	background-image:url(../../images/Index/bg_bg.jpg);
	background-repeat:no-repeat;
	width:529px;
	height:26px;
	padding-top:5px;
		}
.z_bg_01 {
	background-image:url(../../images/Index/z_bg_01.gif);
	background-repeat:repeat-x;
	height:36px;
	}	
.z_bg_02a {
	background-image:url(../../images/Index/z_bs.gif);
	background-repeat:no-repeat;
	width:519px;
	height:26px;
	}	
.z_bg_02b {
	background-image:url(../../images/Index/z_xx.gif);
	background-repeat:no-repeat;
	width:519px;
	height:26px;
	}	
.z_bg_02c {
	background-image:url(../../images/Index/z_tz.gif);
	background-repeat:no-repeat;
	width:519px;
	height:26px;
	}	
.z_bg_03 {
	background-color:#FCEEE2;
	padding:6px;
	}	
.z_bg_04 {
	background-image:url(../../images/Index/z_bg_03.gif);
	background-repeat:no-repeat;
	width:252px;
	height:26px;
	padding-left:12px;
	padding-top:4px;
	}	
.z_bg_05 {
	background-image:url(../../images/Index/z_bg_04.gif);
	background-repeat:repeat-y;
	width:6px;
	}	
.z_bg_06{
	background-image:url(../../images/Index/z_bg_05.gif);
	background-repeat:repeat-x;
	height:29px;
	padding-left:10px;
	}
.bottom {
	background-image:url(../../images/Index/bottom_bg.gif);
	height:93px;
	background-repeat:repeat-x;
	}

/*------------------信息公开--------------------*/
.open{
	width:98px;
	height:22px;
	margin:0px;font:normal 12px/22px "宋体";
	text-align:center; color:#990000;
	background:url(../../images/Index/gongk1.gif) no-repeat center center;
}
.open a{height:22px;display:block;font:normal 12px/22px "宋体";text-align:center;padding-top:1px;}
.open a:link,.open a:visited{color:#990000;text-decoration:none;padding-top:1px;}
.open a:hover,.open a:active,#hover{
	color:#990000;font:normal 12px/22px "宋体"; padding-top:1px;
	background:url(../../images/Index/gongk2.gif) no-repeat center center;
}
/*---------------------------边框-------------------------------*/
.k_all {
	border: 1px solid #CCCCCC;
	}
.k_all1 {
	border: 1px solid #CCCCCC;
	background-color:#F8F8F8;
	padding:5px;
	}	
.k_left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	}
.k_right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #F8F8F8;
	}
.k_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	}
/*---------------------------文本输入框-------------------------------*/
.s_01 { 
	width:182px;
	height:21px;
	line-height:21px;
	margin-left:6px;
	padding-left:5px;
	background-image:url(../../images/Index/right_so.gif);
	background-repeat:no-repeat;
	font-size:12px;
	color:#666666;
	border:0px;
	font-weight:normal;
	}
.s_02 { 
	width:172px;
	height:21px;
	line-height:21px;
	margin:0px;
	padding-left:5px;
	background-image:url(../../images/Index/z_so.gif);
	background-repeat:no-repeat;
	font-size:12px;
	color:#666666;
	border:0px;
	font-weight:normal;
	}

/*---------------------------书签样式-------------------------------*/

.work{
	width:250px;
	height:90px;
	margin:0px auto;
	padding:0px;
}
#work{
	height:21px;
	_height:21px;
	width:250px;
	margin:0px auto;
	padding:0px;
}    
@media all and (min-width: 0px){#work{height:20px;}}    
#work ul{
	list-style:none;
	margin:0px 0px;
	padding:0px;
	*position:absolute;
	_margin:0px 0px;
}    
#work ul li {
	float:left;
	margin-left:14px;
	text-align:center;
}    
#work ul li a{
	width:65px;
	height:22px;line-height:22px;
	display:block;
	color:#ffffff;
	font-weight:normal;text-decoration:none;
	text-align:center;
	background:url(../../images/Index/js_btn_02.gif) no-repeat center center;
}    
#work ul li a:hover,#work ul li a.over {
	width:65px;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#990000; font-weight:bold;
	background:url(../../images/Index/js_btn_01.gif) no-repeat center center;
}    
/* 内容 */    
#work_c {
	width:240px;
	margin:0px auto;
	margin-top:6px;
	line-height:24px;
	color:#CC0000;
}    
#work_c div{display:none;}
#work_c ul{list-style:none; margin:0px auto; padding:0px;}
#work_c li{margin-left:5px;font:normal 12px/22px "宋体";display:inline;}

#work_c a:link {color:#CC0000;text-decoration: none;}
#work_c a:visited{color:#CC0000;text-decoration: none;}
#work_c a:hover{color:#CC0000;text-decoration: underline;}
#work_c a:active{color:#CC0000;text-decoration: none;}

/*-------------------在线受理-------------------*/
.online{
	width:250px;
	height:130px;
	margin:0px auto;
	padding:0px;
}
#online{
	width:250px;
	height:29px;
	margin:0px auto;
	padding:0px;
	background:url(../../images/Index/js_bg_02.gif) repeat-x center top;
}    
@media all and (min-width: 0px){#online{height:20px;}}    
#online ul{
	list-style:none;
	margin:0px 0px;
	padding:0px;
	*position:absolute;
	_margin:0px 0px;
}    
#online ul li {
	float:left;
	text-align:center;
}    
#online ul li a{
	width:77px;
	height:29px;line-height:29px;
	display:block;
	color:#990000;
	font-weight:normal;text-decoration:none;
	text-align:center;
	
}    
#online ul li a:hover,#online ul li a.over {
	width:77px;
	height:29px;
	line-height:29px;
	text-align:center;
	background:url(../../images/Index/js_bg_01.gif) no-repeat center center;
	color:#990000; font-weight:bold;
}    
/* 内容 */    
#online_c {
	width:240px;
	_width:240px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	margin-top:6px;
	line-height:22px;
}    
#online_c div{display:none;}
#online_c ul{list-style:none; margin:0px auto; padding:0px;margin-left:0px}
#online_c li{
	color:#333333;
	font:normal 12px/22px "宋体";
}

#online_c a:link {color:#333333;text-decoration: none;}
#online_c a:visited{color:#333333;text-decoration: none;}
#online_c a:hover{color:#333333;text-decoration: underline;}
#online_c a:active{color:#333333;text-decoration: none;}

/*---------------------办事反馈----------------------*/
.Feedback{
	width:250px;
	height:130px;
	margin:0px auto;
	padding:0px;
}
#Feedback{
	height:29px;
	_height:29px;
	width:250px;
	margin:0px auto;
	padding:0px;
	background:url(../../images/Index/js_bg_02.gif) repeat-x center center;
}    
@media all and (min-width: 0px){#Feedback{height:20px;}}    
#Feedback ul{
	list-style:none;
	margin:0px 0px;
	padding:0px;
	*position:absolute;
	_margin:0px 0px;
}    
#Feedback ul li {
	float:left;
	text-align:center;
}    
#Feedback ul li a{
	width:77px;
	height:29px;line-height:29px;
	display:block;
	color:#990000;
	font-weight:normal;text-decoration:none;
	text-align:center;
	
}    
#Feedback ul li a.over {
	width:77px;
	height:29px;
	line-height:29px;
	text-align:center;
	background:url(../../images/Index/js_bg_01.gif) no-repeat center center;
	color:#990000; font-weight:bold;
}    
#Feedback ul li a.a_1{
	width:120px;
	height:29px;line-height:29px;
	display:block;
	color:#990000;
	font-weight:normal;text-decoration:none;
	text-align:center;
	
} 
#Feedback ul li a.over_1 {
	width:120px;
	height:29px;
	line-height:29px;
	text-align:center;
	background:url(../../images/Index/js_bg_114.gif) no-repeat center center;
	color:#990000; font-weight:bold;
}  
/* 内容 */    
#Feedback_c {
	width:240px;
	_width:240px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	margin-top:6px;
	line-height:22px;
}    
#Feedback_c div{display:none;}
#Feedback_c ul{list-style:none; margin:0px auto; padding:0px;margin-left:0px;}
#Feedback_c li{
	color:#333333;
	font:normal 12px/22px "宋体";
}


#Feedback_c a:link {color:#333333;text-decoration: none;}
#Feedback_c a:visited{color:#333333;text-decoration: none;}
#Feedback_c a:hover{color:#333333;text-decoration: underline;}
#Feedback_c a:active{color:#333333;text-decoration: none;}

/*------------------------------部门网站------------------------------*/
.zhuti{
	width:520px;
	height:100%;
	margin:0px auto;
	margin-top:6px;
	background:url(../../images/o_work_bg.gif) no-repeat center top;
}
.zhuti h2{
	margin:0px;
	padding:0px;
	border:0px;
}

#Main{
	height:27px;
	_height:27px;
	width:520px;
	text-align:left;
	line-height:27px;
	overflow:hidden;
	font-size:14px;
	background:url(../../images/Index/js_bg_10.gif) repeat-x center center;
}    
@media all and (min-width: 0px){#Main{height:27px;}}    
#Main ul{list-style:none;margin:0px 0px; padding:0px; *position:absolute;_margin:0px 0px;}    
#Main ul li {float:left;}    

#Main ul li.sub1 {width:105px; height:27px;
}
#Main ul li.sub2 {width:122px; height:27px;
}
#Main ul li.sub3 {width:104px; height:27px;
}

#Main ul li.sub1 a{
	height:27px;
	display:block;
	text-decoration:none;
	color:#fff;font-weight:bold;
	text-align:center; 
	_padding-left:19px; padding-top:2px;
	background:url(../../images/Index/js_bg_07.gif) no-repeat;
}    
#Main ul li.sub1 a:hover,#Main ul li.sub1 a.over {
	height:27px;
	color:#E30000;
	font-weight:bold; padding-top:2px;
	background:url(../../images/Index/js_bg_03.gif) no-repeat;
}

#Main ul li.sub2 a{
	height:27px;
	display:block;
	text-decoration:none;
	color:#fff;font-weight:bold;
	background:#FFFFFF;
	text-align:center; 
	padding-left:19px; 
	padding-top:2px;
	background:url(../../images/Index/js_bg_04.gif) no-repeat;
}    
#Main ul li.sub2 a:hover,#Main ul li.sub2 a.over {
	height:27px;
	color:#E30000;
	font-weight:bold;padding-top:2px;
	background:url(../../images/Index/js_bg_06.gif) no-repeat;
}    
#Main ul li.sub3 a{
	height:27px;
	display:block;
	text-decoration:none; padding-top:2px;
	color:#fff;font-weight:bold;
	text-align:center; _padding-left:19px;
	background:url(../../images/Index/js_bg_05.gif) no-repeat;
}    
#Main ul li.sub3 a:hover,#Main ul li.sub3 a.over {
	height:27px;
	color:#E30000;
	font-weight:bold; padding-top:2px;
	background:url(../../images/Index/js_bg_08.gif) no-repeat;
} 
   

/* -----------------------内容--------------------------------- */    
#Main_c {
	width:520px;
	
	height:200px; 
	overflow:visible;
	line-height:26px;
	text-align:left;
	color:#333333;
	background:url(../../images/Index/js_bg_11.gif) no-repeat center top;
}     
#Main_c div{display:none;}
/*#Main_c ul {list-style:none; margin:0px; padding:0px;}
#Main_c li {
	font-size:12px;
	line-height:22px;
	margin-left:8px;
}
*/.zk {
	float:left;
	margin:6px;
	padding:0px;
	width:auto;
}
.zk ul {list-style:none; margin:0px; padding:0px; display:inline;}
.zk li {
	font-size:12px;
	line-height:22px;
	margin-left:8px;
}
/*------------------导航菜单--------------------*/
.menu_bg{
	width:828px;
	height:31px;
	margin:0px; padding:0px;
}
.menu_xian{ width:2px; height:31px; line-height:31px;background:url(../../images/Index/xian.gif) no-repeat center center;}
.menu_bg ul{list-style:none;margin:0px;padding:0px;}
.menu_bg li{float:left;list-style:none;}
.menu_bg li a{width:66px;_width:63px;height:31px;display:block; font:bold 12px/31px "宋体";text-align:center;}
.menu_bg a:link,.menu_bg a:visited{color:#F8FFDE;;text-decoration:none}
.menu_bg a:hover,.menu_bg a:active,#hover{color:#990000;font:bold 12px/31px "宋体";background:url(../../images/Index/on_menu.gif) no-repeat center center;}


/*------------------信息公开--------------------*/
.open{
	width:98px;
	height:22px;
	margin:0px;font:normal 12px/22px "宋体";
	text-align:center; color:#990000;
	background:url(../../images/Index/gongk1.gif) no-repeat center center;
}
.open a{height:22px;display:block;font:normal 12px/22px "宋体";text-align:center;padding-top:1px;}
.open a:link,.open a:visited{color:#990000;text-decoration:none;padding-top:1px;}
.open a:hover,.open a:active,#hover{
	color:#990000;font:normal 12px/22px "宋体"; padding-top:1px;
	background:url(../../images/Index/gongk2.gif) no-repeat center center;
}


.search_info{
	width:104px;
	height:21px;
	line-height:21px;
	font:normal 12px/21px "宋体";
	color:#333333; border:0px;
	margin:0px; padding-left:20px;
	background:url(../../images/Index/right_so3.gif) no-repeat center left;
}

/*------------------倒计时--------------------*/
.expo {
	background-image:url(../../images/Index/expo.gif);
	background-repeat:no-repeat;
	width:173px;
	height:64px;
}
.expo_font_01 {
	font-size:12px;
	font-weight:normal;
	color:#CC0000;
}
.expo_font_02 {
	font-size:14px;
	font-weight:bold;
	color:#FFFF33;
}